<!-- wp:template-part {"slug":"header","theme":"gemma","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","justifyContent":"left","contentSize":"70vw"}} -->
    <div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--60)">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide"} /--></div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:0">
        <!-- wp:comments {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|50","bottom":"var:preset|spacing|40","left":"var:preset|spacing|50"}}},"backgroundColor":"secondary"} -->
        <div class="wp-block-comments has-secondary-background-color has-background"
            style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)">
            <!-- wp:comments-title /-->
    
            <!-- wp:comment-template -->
            <!-- wp:columns -->
            <div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
                <div class="wp-block-column" style="flex-basis:40px">
                    <!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
                <!-- /wp:column -->
    
                <!-- wp:column -->
                <div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->
    
                    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
                    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
                        <!-- wp:comment-date {"fontSize":"small"} /-->
    
                        <!-- wp:comment-edit-link {"fontSize":"small"} /-->
                    </div>
                    <!-- /wp:group -->
    
                    <!-- wp:comment-content /-->
    
                    <!-- wp:comment-reply-link {"fontSize":"small"} /-->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
            <!-- /wp:comment-template -->
    
            <!-- wp:comments-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
            <!-- wp:comments-pagination-previous {"style":{"typography":{"textTransform":"uppercase"}},"fontSize":"small"} /-->
    
            <!-- wp:comments-pagination-numbers {"fontSize":"small"} /-->
    
            <!-- wp:comments-pagination-next {"style":{"typography":{"textTransform":"uppercase"}},"fontSize":"small"} /-->
            <!-- /wp:comments-pagination -->
    
            <!-- wp:post-comments-form /-->
        </div>
        <!-- /wp:comments -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"gemma","tagName":"footer","className":"site-footer"} /-->