<!-- wp:cover {"useFeaturedImage":true,"dimRatio":40,"overlayColor":"contrast","isUserOverlayColor":true,"minHeightUnit":"px","contentPosition":"center center","isDark":false,"metadata":{},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|base-2"}},"heading":{"color":{"text":"var:preset|color|base-2"}}}},"textColor":"base-2","layout":{"type":"default"}} -->
<div class="wp-block-cover is-light has-base-2-color has-text-color has-link-color"
    style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><span aria-hidden="true"
        class="wp-block-cover__background has-contrast-background-color has-background-dim-40 has-background-dim"></span>
    <div class="wp-block-cover__inner-container">
        <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":"0"},"dimensions":{"minHeight":"85vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
        <div class="wp-block-group alignwide"
            style="min-height:85vh;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <!-- wp:template-part {"slug":"header","theme":"gemma","tagName":"header","area":"header"} /-->

            <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"1rem"},"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"stretch"}} -->
            <div class="wp-block-group alignwide">
                <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group alignwide"
                    style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
                    <!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /--></div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
</div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>

<!-- wp:spacer {"height":"var:preset|spacing|70"} -->
<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->